<section class="section-about" id="about-me">
  <div class="container">
    <h2 class="visually-hidden">About Lloyd Jefferson</h2>
    <div class="main-content-about-me">
      <ul class="main-content">
        <li class="container-title">
          I work with people all over the world to create impressive and
          <span class="conteiner-title-text">functional</span
          ><span class="conteiner-title_text">websites</span> that reflect each
          client's unique personality.
        </li>
        <li class="container-photo">
          <picture>
            <source
              srcset="../img/mobile1x.png 1x, ../img/mobile2x.png 2x"
              media="(max-width: 768px)"
            />
            <source
              srcset="../img/tab1x.png 1x, ../img/tab2x.png 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="../img/desk1x.png 1x, ../img/desk2x.png 2x"
              media="(min-width: 1280px)"
            />
            <img src="../img/mobile1x.png" alt="" />
          </picture>
        </li>
      </ul>
      <ul class="section-text">
        <li>
          ABOUT ME
          <p>
            I am Lloyd Jefferson, a talented programmer with extensive expertise
            in software development. I have an understanding of different
            programming languages ​​and technologies, always ready to improve my
            skills. I always follow the latest trends and look for
            unconventional, creative solutions to problems. I have a high level
            of analytical skills and am able to effectively solve even the most
            difficult tasks encountered on the way.
          </p>
          <p>
            Able to work both independently and in a team. I can effectively
            cooperate with colleagues, exchanging ideas and finding optimal
            solutions. Professional maturity allows you to calmly cope with
            challenges and stressful situations, while maintaining a high
            quality of work. I am always looking for opportunities for
            self-improvement. I actively study new technologies and practices to
            stay abreast of the latest innovations. I have a strong
            understanding of various programming languages, frameworks and
            architectural concepts that allow me to create efficient and
            scalable software.
          </p>
        </li>
        <li>
          ROLE
          <p>Frontend development</p>
          <p>HeadlessCMS,Wordpress</p>
          <p>Blender(enjoy)</p>
        </li>
        <li>
          EDUCATION
          <p>
            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
          </p>
          <p>
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
            New York
          </p>
          <p>2020 - 2022 / Advanced Blender Animation Techniques, Udemy</p>
        </li>
      </ul>
      <ul class="script-skils">
        <li>HTML/CSS</li>
        <li>JavaScript</li>
        <li>React</li>
        <li>Node.js</li>
        <li>React Native</li>
        <li>Soft skills</li>
      </ul>
    </div>
  </div>
</section>
