<section class="section-about" id="about-me">
  <div class="container container-about-me">
    <h2 class="visually-hidden">About Lloyd Jefferson</h2>
    <div class="main-content-about-me">
      <ul class="main-content">
        <li class="main-content-item">
          <p class="container-title">
            I work with people all over the world to create impressive and
            <span class="conteiner-title-text-accent">functional</span>
            <span class="conteiner-title-text">websites</span> that reflect each
            client's unique personality.
          </p>
        </li>
        <li class="main-content-item">
          <picture>
            <source
              srcset="
                ./img/about-me/desk1x.png 1x,
                ./img/about-me/desk2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="./img/about-me/tab1x.png 1x, ./img/about-me/tab2x.png 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/about-me/mobile1x.png 1x,
                ./img/about-me/mobile2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/mobile1x.png"
              alt="Lloyd Jefferson"
              class="container-photo"
            />
          </picture>
        </li>
      </ul>

      <ul class="info-content-list"></ul>

      <div class="skilla-about-swiper">
        <ul class="skills-content-list swiper-wrapper"></ul>

        <button type="button" class="swiper-button-next-ab">
          <svg class="icon-reviews" width="32" height="32">
            <use href="./img/icons.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
