<section class="section-covers" id="covers">
  <div class="container container-covers">
    <h2 class="visually-hidden">Covers</h2>
    <div class="covers-content">
      <ul class="covers-list"></ul>
      <ul class="covers-list"></ul>
      <ul class="covers-list"></ul>
      <ul class="covers-list"></ul>
      <ul class="covers-list"></ul>

      <!--
      <ul class="covers-list">
        <li class="covers-project">
          <picture>
            <source
              srcset="
                ./img/covers/project1.png        1x,
                ./img/covers/project1-retina.png 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="covers-img"
              src="./img/covers/project1.png"
              alt="Covers"
            />
          </picture>
        </li>

        <li class="covers-project">
          <picture>
            <source
              srcset="
                ./img/covers/project2.png        1x,
                ./img/covers/project2-retina.png 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="covers-img"
              src="./img/covers/project2.png"
              alt="Covers"
            />
          </picture>
        </li>

        <li class="covers-project">
          <picture>
            <source
              srcset="
                ./img/covers/project3.png        1x,
                ./img/covers/project3-retina.png 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="covers-img"
              src="./img/covers/project3.png"
              alt="Covers"
            />
          </picture>
        </li>
        <li class="covers-project">
          <picture>
            <source
              srcset="
                ./img/covers/project4.png        1x,
                ./img/covers/project4-retina.png 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="covers-img"
              src="./img/covers/project4.png"
              alt="Covers"
            />
          </picture>
        </li>

        <li class="covers-project">
          <picture>
            <source
              srcset="
                ./img/covers/project5.png        1x,
                ./img/covers/project5-retina.png 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="covers-img"
              src="./img/covers/project5.png"
              alt="Covers"
            />
          </picture>
        </li>
      </ul>

      <ul class="covers-list">
        <li class="covers-project">
          <picture>
            <source
              srcset="
                ./img/covers/project4.png        1x,
                ./img/covers/project4-retina.png 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="covers-img"
              src="./img/covers/project4.png"
              alt="Covers"
            />
          </picture>
        </li>

        <li class="covers-project">
          <picture>
            <source
              srcset="
                ./img/covers/project5.png        1x,
                ./img/covers/project5-retina.png 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="covers-img"
              src="./img/covers/project5.png"
              alt="Covers"
            />
          </picture>
        </li>

        <li class="covers-project">
          <picture>
            <source
              srcset="
                ./img/covers/project6.png        1x,
                ./img/covers/project6-retina.png 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="covers-img"
              src="./img/covers/project6.png"
              alt="Covers"
            />
          </picture>
        </li>

        <li class="covers-project">
          <picture>
            <source
              srcset="
                ./img/covers/project7.png        1x,
                ./img/covers/project7-retina.png 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="covers-img"
              src="./img/covers/project7.png"
              alt="Covers"
            />
          </picture>
        </li>

        <li class="covers-project">
          <picture>
            <source
              srcset="
                ./img/covers/project8.png        1x,
                ./img/covers/project8-retina.png 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="covers-img"
              src="./img/covers/project8.png"
              alt="Covers"
            />
          </picture>
        </li>
      </ul>

      <ul class="covers-list">
        <li class="covers-project">
          <picture>
            <source
              srcset="
                ./img/covers/project7.png        1x,
                ./img/covers/project7-retina.png 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="covers-img"
              src="./img/covers/project7.png"
              alt="Covers"
            />
          </picture>
        </li>

        <li class="covers-project">
          <picture>
            <source
              srcset="
                ./img/covers/project8.png        1x,
                ./img/covers/project8-retina.png 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="covers-img"
              src="./img/covers/project8.png"
              alt="Covers"
            />
          </picture>
        </li>

        <li class="covers-project">
          <picture>
            <source
              srcset="
                ./img/covers/project9.png        1x,
                ./img/covers/project9-retina.png 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="covers-img"
              src="./img/covers/project9.png"
              alt="Covers"
            />
          </picture>
        </li>

        <li class="covers-project">
          <picture>
            <source
              srcset="
                ./img/covers/project10.png        1x,
                ./img/covers/project10-retina.png 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="covers-img"
              src="./img/covers/project10.png"
              alt="Covers"
            />
          </picture>
        </li>
        <li class="covers-project">
          <picture>
            <source
              srcset="
                ./img/covers/project1.png        1x,
                ./img/covers/project1-retina.png 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="covers-img"
              src="./img/covers/project1.png"
              alt="Covers"
            />
          </picture>
        </li>
      </ul>

      <ul class="covers-list">
        <li class="covers-project">
          <picture>
            <source
              srcset="
                ./img/covers/project5.png        1x,
                ./img/covers/project5-retina.png 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="covers-img"
              src="./img/covers/project5.png"
              alt="Covers"
            />
          </picture>
        </li>

        <li class="covers-project">
          <picture>
            <source
              srcset="
                ./img/covers/project4.png        1x,
                ./img/covers/project4-retina.png 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="covers-img"
              src="./img/covers/project4.png"
              alt="Covers"
            />
          </picture>
        </li>
        <li class="covers-project">
          <picture>
            <source
              srcset="
                ./img/covers/project3.png        1x,
                ./img/covers/project3-retina.png 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="covers-img"
              src="./img/covers/project3.png"
              alt="Covers"
            />
          </picture>
        </li>

        <li class="covers-project">
          <picture>
            <source
              srcset="
                ./img/covers/project2.png        1x,
                ./img/covers/project2-retina.png 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="covers-img"
              src="./img/covers/project2.png"
              alt="Covers"
            />
          </picture>
        </li>

        <li class="covers-project">
          <picture>
            <source
              srcset="
                ./img/covers/project6-retina.png 1x,
                ./img/covers/project6-retina.png 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="covers-img"
              src="./img/covers/project6.png"
              alt="Covers"
            />
          </picture>
        </li>
      </ul>

      <ul class="covers-list">
        <li class="covers-project">
          <picture>
            <source
              srcset="
                ./img/covers/project10.png        1x,
                ./img/covers/project10-retina.png 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="covers-img"
              src="./img/covers/project10.png"
              alt="Covers"
            />
          </picture>
        </li>
        <li class="covers-project">
          <picture>
            <source
              srcset="
                ./img/covers/project9.png        1x,
                ./img/covers/project9-retina.png 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="covers-img"
              src="./img/covers/project9.png"
              alt="Covers"
            />
          </picture>
        </li>
        <li class="covers-project">
          <picture>
            <source
              srcset="
                ./img/covers/project8.png        1x,
                ./img/covers/project8-retina.png 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="covers-img"
              src="./img/covers/project8.png"
              alt="Covers"
            />
          </picture>
        </li>
        <li class="covers-project">
          <picture>
            <source
              srcset="
                ./img/covers/project7.png        1x,
                ./img/covers/project7-retina.png 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="covers-img"
              src="./img/covers/project7.png"
              alt="Covers"
            />
          </picture>
        </li>
        <li class="covers-project">
          <picture>
            <source
              srcset="
                ./img/covers/project6.png        1x,
                ./img/covers/project6-retina.png 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="covers-img"
              src="./img/covers/project6.png"
              alt="Covers"
            />
          </picture>
        </li>
      </ul>
     -->
    </div>
  </div>
</section>
