<footer class="section-footer" id="footer">
  <div class="container footer-container">
    <h2 class="footer-title">
      <p class="footer-logo-text">
        <a class="footer-logo-link" href="./index.html">
          <picture>
            <source
              srcset="
                ./img/footer/footer-logo-desk-1x.png 1x,
                ./img/footer/footer-logo-desk-2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/footer/footer-logo-tab-1x.png 1x,
                ./img/footer/footer-logo-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/footer/footer-logo-mob-1x.png 1x,
                ./img/footer/footer-logo-mob-1x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/footer/footer-logo-desk-1x.png"
              width="70"
              height="70"
              alt="Lloyd Jefferson"
              class="footer-logo-img"
            />
          </picture>
        </a>
        Let’s<span class="footer-title-span"> work </span>together
      </p>
    </h2>

    <form class="footer-form">
      <label class="footer-form-label">
        <input
          class="footer-form-label-input"
          type="email"
          name="email"
          id="email"
          placeholder="clients@gmail.com"
          pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
          title="Email address"
          value=""
          required
        />
        <span id="email-message" class="email-message"></span>
      </label>
      <label class="footer-form-label">
        <input
          class="footer-form-label-input form-comments"
          type="text"
          name="comments"
          placeholder="comments"
          required
        />
      </label>
      <button type="submit" class="footer-form-button open-btn-hover">Send</button>
    </form>
    <ul class="footer-contact-wrap-list">
      <li class="footer-contact-item">
        <a
          class="footer-contact-email-link footer-contact-link"
          href="mailto:info@devstudio.com"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >lloydjefferson@gmail.com</a
        >
      </li>
      <li class="footer-contact-item">
        <a
          class="footer-contact-tel-link footer-contact-link"
          href="tel:+380684439426"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >+380 11 1111 11 11</a
        >
      </li>
    </ul>
  </div>
  <!------modal window-------->
  <div class="footer-backdrop" id="modal">
    <div class="footer-modal">
      <button type="button" class="footer-close-button">
        <svg class="footer-icon-close" width="22" height="22">
          <use href="./img/icons.svg#icon-x"></use>
        </svg>
      </button>
      <div class="footer-backdrop-content">
        <h3 class="footer-backdrop-title">
          Thank you for your interest in cooperation!
        </h3>
        <p class="footer-backdrop-text">
          The manager will contact you shortly to discuss further details and
          opportunities for cooperation. Please stay in touch.
        </p>
      </div>
    </div>
  </div>
  <!-- <script type="module" src="../js/footer.js"></script> -->
</footer>
