<header class="header" id="header">
  <div class="container">
    <div class="header-container">
      <div class="header-menu">
        <div class="logo-container">
          <img src="./img/logo/logo.png" alt="Logo" class="logo-img" />
          <h2 class="logo-text">jefferson*</h2>
        </div>

        <button class="open-menu-btn" type="button">
          <svg class="mob-menu-btn" width="28" height="28">
            <use href="./img/icons.svg#icon-menu-05"></use>
          </svg>
        </button>
      </div>

      <div class="modal-mob-menu visually-hidden">
        <button type="button" class="modal-close-btn">
          <svg class="icon-close" width="28" height="28">
            <use href="./img/icons.svg#icon-x"></use>
          </svg>
        </button>
        <div class="modal-menu visually-hidden">
          <ul class="modal-list">
            <li class="modal-list-item">
              <a href="#about-me">About me</a>
            </li>
            <li class="modal-list-item">
              <a href="#benefits">Benefits</a>
            </li>
            <li class="modal-list-item">
              <a href="#projects">Projects</a>
            </li>
            <li class="modal-list-item">
              <a href="#faq">FAQ</a>
            </li>
          </ul>
          <a href="#footer" class="modal-order-button">Order the project</a>
        </div>
      </div>

      <nav class="nav-header visually-hidden">
        <button type="button" class="header-menu-button">Menu</button>
        <ul class="menu-list">
          <li class="modal-list-item">
            <a href="#about-me">About me</a>
          </li>
          <li class="modal-list-item">
            <a href="#benefits">Benefits</a>
          </li>
          <li class="modal-list-item">
            <a href="#projects">Projects</a>
          </li>
          <li class="modal-list-item">
            <a href="#faq">FAQ</a>
          </li>
        </ul>
      </nav>
      <a href="#footer" class="header-order-btn visually-hidden">
        Order the project
      </a>
    </div>
  </div>
</header>
