<section class="section-hero" id="hero">
  <div class="container container-hero">
    <h1 class="hero-text">
      Hello.<br />
      I’m Fullstack developer<br />Lloyd Jefferson.
    </h1>
    <ul class="hero-list">
      <li class="hero-list-item">
        <a
          href="https://www.instagram.com/goitclub/"
          class="hero-list-link"
          target="_blank"
          >IG</a
        >
      </li>
      <li class="hero-list-item">
        <a
          href="https://www.facebook.com/goITclub/"
          class="hero-list-link"
          target="_blank"
          >FB</a
        >
      </li>
      <li class="hero-list-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="hero-list-link"
          target="_blank"
          >YT</a
        >
      </li>
      <li class="hero-list-item">
        <a
          href="https://github.com/RamiiaHolomoza/light-summer-project"
          class="hero-list-link"
          target="_blank"
          >GH</a
        >
      </li>
      <li class="hero-list-item">
        <a href="mailto:lloydjefferson@gmail.com" class="hero-list-link"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
