<section class="section-projects" id="projects">
  <div class="container projects-container">
    <h2 class="project-title">Projects</h2>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="projects-pc-wrapper">
            <div class="projects-section-total-wrapper">
              <ul class="project-list">
                <li class="project-item">
                  <p class="project-item-text">#react</p>
                </li>
                <li class="project-item">
                  <p class="project-item-text">#js</p>
                </li>
                <li class="project-item">
                  <p class="project-item-text">#node js</p>
                </li>
                <li class="project-item">
                  <p class="project-item-text">#git</p>
                </li>
              </ul>
              <h3 class="projects-description-text">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <a
                href="https://github.com/RamiiaHolomoza/light-summer-project"
                class="projects-button"
                target="_blank"
                rel="noopener noreferrer"
              >
                <span class="projects-button-span">See Project</span>
              </a>
            </div>

            <div class="projects-image-nav-wrapper">
              <picture>
                <source
                  srcset="
                    ./img/projects-images/projects-image-pc.jpg    1x,
                    ./img/projects-images/projects-image-pc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />

                <source
                  srcset="
                    ./img/projects-images/projects-image-tab.jpg    1x,
                    ./img/projects-images/projects-image-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/projects-images/projects-image-phone.jpg    1x,
                    ./img/projects-images/projects-image-phone-2x.jpg 2x
                  "
                  media="(min-width: 320px)"
                />

                <img
                  class="projects-image"
                  src="./img/projects-images/projects-image-phone.jpg"
                  alt="phone-description"
                />
              </picture>
            </div>
          </div>

          <div class="projects-nav-buttons-wrapper">
            <button class="custom-button-prev">
              <svg class="projects-arrow-svg" width="24px" height="24px">
                <use href="/img/icons.svg#icon-arrow-narrow-left"></use>
              </svg>
            </button>
            <button class="custom-button-next">
              <svg class="projects-arrow-svg" width="24px" height="24px">
                <use href="/img/icons.svg#icon-arrow-narrow-right"></use>
              </svg>
            </button>
          </div>
        </div>

        <!-- second slide -->
        <div class="swiper-slide">
          <div class="projects-pc-wrapper">
            <div class="projects-section-total-wrapper">
              <ul class="project-list">
                <li class="project-item">
                  <p class="project-item-text">#react</p>
                </li>
                <li class="project-item">
                  <p class="project-item-text">#js</p>
                </li>
                <li class="project-item">
                  <p class="project-item-text">#node js</p>
                </li>
                <li class="project-item">
                  <p class="project-item-text">#git</p>
                </li>
              </ul>
              <h3 class="projects-description-text">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <a
                href="https://github.com/RamiiaHolomoza/light-summer-project"
                class="projects-button"
                target="_blank"
                rel="noopener noreferrer"
              >
                <span class="projects-button-span">See Project</span>
              </a>
            </div>
            <div class="projects-image-nav-wrapper">
              <picture>
                <source
                  srcset="
                    ./img/projects-images/projects-image-pet-pc.jpg    1x,
                    ./img/projects-images/projects-image-pet-pc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />

                <source
                  srcset="
                    ./img/projects-images/projects-image-pet-tab.jpg    1x,
                    ./img/projects-images/projects-image-pet-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/projects-images/projects-image-pet-phone.jpg    1x,
                    ./img/projects-images/projects-image-pet-phone-2x.jpg 2x
                  "
                  media="(min-width: 320px)"
                />

                <img
                  class="projects-image"
                  src="./img/projects-images/projects-image-pet-phone.jpg"
                  alt="phone-description"
                />
              </picture>
            </div>
          </div>

          <div class="projects-nav-buttons-wrapper">
            <button type="button" class="custom-button-prev">
              <svg class="projects-arrow-svg" width="24px" height="24px">
                <use href="/img/icons.svg#icon-arrow-narrow-left"></use>
              </svg>
            </button>
            <button type="button" class="custom-button-next">
              <svg class="projects-arrow-svg" width="24px" height="24px">
                <use href="/img/icons.svg#icon-arrow-narrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
        <!-- Third Slide -->

        <div class="swiper-slide">
          <div class="projects-pc-wrapper">
            <div class="projects-section-total-wrapper">
              <ul class="project-list">
                <li class="project-item">
                  <p class="project-item-text">#react</p>
                </li>
                <li class="project-item">
                  <p class="project-item-text">#js</p>
                </li>
                <li class="project-item">
                  <p class="project-item-text">#node js</p>
                </li>
                <li class="project-item">
                  <p class="project-item-text">#git</p>
                </li>
              </ul>
              <h3 class="projects-description-text">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <a
                href="https://github.com/RamiiaHolomoza/light-summer-project"
                class="projects-button"
                target="_blank"
                rel="noopener noreferrer"
              >
                <span class="projects-button-span">See Project</span>
              </a>
            </div>
            <div class="projects-image-nav-wrapper">
              <picture>
                <source
                  srcset="
                    ./img/projects-images/projects-image-people-pc.jpg    1x,
                    ./img/projects-images/projects-image-people-pc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />

                <source
                  srcset="
                    ./img/projects-images/projects-image-people-tab.jpg    1x,
                    ./img/projects-images/projects-image-people-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/projects-images/projects-image-people-phone.jpg    1x,
                    ./img/projects-images/projects-image-people-phone-2x.jpg 2x
                  "
                  media="(min-width: 320px)"
                />

                <img
                  class="projects-image"
                  src="./img/projects-images/projects-image-people-phone-pc.jpg"
                  alt="phone-description"
                />
              </picture>
            </div>
          </div>

          <div class="projects-nav-buttons-wrapper">
            <button type="button" class="custom-button-prev">
              <svg class="projects-arrow-svg" width="24px" height="24px">
                <use href="/img/icons.svg#icon-arrow-narrow-left"></use>
              </svg>
            </button>
            <button type="button" class="custom-button-next">
              <svg class="projects-arrow-svg" width="24px" height="24px">
                <use href="/img/icons.svg#icon-arrow-narrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
