<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Swiper Example</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <section class="section-projects" id="projects">
      <div class="container projects-container">
        <h2 class="project-title">Projects</h2>
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <ul class="project-list">
                <div class="project-item-wrapper">
                  <li class="project-item">
                    <p class="project-item-text">#react</p>
                  </li>
                  <li class="project-item">
                    <p class="project-item-text">#js</p>
                  </li>
                  <li class="project-item">
                    <p class="project-item-text">#node js</p>
                  </li>
                  <li class="project-item">
                    <p class="project-item-text">#git</p>
                  </li>
                </div>
                <li class="projects-description-item">
                  <p class="projects-description-text">
                    Programming Across Borders: Ideas, Technologies, Innovations
                  </p>
                  <button class="projects-button">LOAD</button>
                </li>
              </ul>
            </div>
          </div>

          <!-- Navigation -->
          <!-- <div class="swiper-button-next">next</div>
          <div class="swiper-button-prev">prev</div> -->
        </div>
      </div>
    </section>

    <script type="module" src="js/projects.js"></script>
  </body>
</html>
