<section class="section-reviews" id="reviews">
  <div class="container container-reviews">
    <h2 class="reviews-title">REVIEWS</h2>
    <section class="reviews">
      <div class="reviews-slider">
        <!-- <ul class="swiper-wrapper"></ul> -->
        <ul class="swiper-wrapper swiper-rew"></ul>
        <div class="reviews-button">
          <div class="swiper-button-prev">
            <svg class="icon-reviews" width="32" height="32" fill="none">
              <use href="./img/icons.svg#icon-arrow-narrow-left"></use>
            </svg>
          </div>
          <div class="swiper-button-next">
            <svg class="icon-reviews" width="32" height="32">
              <use href="./img/icons.svg#icon-arrow-narrow-right"></use>
            </svg>
          </div>
        </div>
        <div class="error-popup">Failed to load reviews. Please try again.</div>
      </div>
    </section>
  </div>
</section>
