.main-content-about-me {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.main-content {
  justify-content: center;
    align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.main-content-item {
  height: 500px;
  background: #242527;
  border-radius: 24px;
}

.container-title {
  padding-top: 32px;
  padding-right: 32px;
  padding-left: 32px;
padding-bottom: 272px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: -0.72px;
}
.conteiner-title-text-accent {
  color: #0041e8;
}
.conteiner-title-text {
  color: rgba(250, 250, 250, 0.4);
}

.container-photo {
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
  margin: 0 auto;
}

.info-content-list{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.info-content-item{
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.info-content-item::after {
  content: "";
  display: block;
  border-bottom: 1px solid rgba(250, 250, 250, 0.4);
  margin-top: 8px;
}

.info-title-acc{
  font-weight: 600;
  color: rgba(250, 250, 250, 0.4);
  display: flex;
  justify-content: space-between;
}
.acc-btn{
width: 36px;
height: 36px;
border-radius: 50%;
border: 1px solid rgba(250, 250, 250, 0.2);
background-color: transparent;
display: flex;
justify-content: center;
align-items: center;
transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .acc-btn:hover,
.acc-btn:focus{
border: 1px solid #fafafa;
} */
 .acc-btn:hover {
   border: 1px solid #fafafa;
 }

.about-acc-icon{
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rotate180 {
  transform: rotate(180deg);
}

.info-text-acc{
    font-weight: 500;
    font-size: 16px;

  display: flex;
  flex-direction: column;
  gap: 10px;
  text-transform: none;
}

.info-content-item:first-child .info-text-acc{
  gap: 32px;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}


.skilla-about-swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
  display: flex;
  /* position: relative; */
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* max-width: 600px; */
    /* Встановлюємо ширину контейнера */
    overflow: hidden;
    /* gap: 55px; */
}

.skills-content-list.swiper-wrapper {
    display: flex;
    position: relative;
    width: calc(130px * 2);
    height: 100%;
}

.skills-content-list.swiper-wrapper .swiper-slide.slide-item-ab{
    width: 130px;
    height: 130px;
}


.swiper-slide.slide-item-ab {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 100%;
  border: 1px solid rgba(250, 250, 250, 0.2);
  background-color: transparent;
  margin: 0;
}

.swiper-slide.slide-item-ab.swiper-slide-active{
  background-color: #0041E8;
  border: none;
}

.skilla-about-swiper .swiper-button-next-ab{
  width: 100%;
  height: 130px;
  padding: 0;
  background-color:#1c1d20;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: end;
}

.icon-reviews{
  width: 28px;
  height: 28px;
  --color1: #3B3B3B;
}
.icon-reviews:hover {
  --color1: #fafafa;
}
.new-width-class-item-ab{
  width: 130px;
}

/* skills circle */

.skills-content-list {
  display: flex;
  list-style-type: none;
}

.skills-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  min-width: 130px;
  min-height: 130px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(250, 250, 250, 0.20);
  color: #FAFAFA;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  transition: transform 0.3s;
}

.skills-circle:hover {
  background-color: #0041E8;
  transform: scale(1.1);
}

.swiper-button-next {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    min-width: 320px;
  }
  .main-content-item {
    max-width: 320px;
  }

        .skilla-about-swiper .icon-reviews {
      width: 28px;
      height: 28px;
    }
}

@media screen and (min-width: 768px) {
  .container-about-me {
    margin-top: 64px;
  }
  .main-content-about-me {
    gap: 64px;
  }
  .main-content {
    width: 704px;
  }
  .main-content-item {
    width: 100%;
    height: 700px;
  }

  .container-title {
    padding-top: 64px;
    padding-right: 64px;
    padding-left: 64px;

    font-size: 38px;
    line-height: 40px; /* 105.263% */
    letter-spacing: -1.14px;
  }
  .info-content-list {
    gap: 32px;
  }
      
  .info-content-item {
    gap: 8px;
  }
.info-content-item::after {
  margin-top: 20px;
}

.skills-content-list.swiper-wrapper {
  /* width: 600px; */
  width: calc(200px * 3);
}

.skills-content-list.swiper-wrapper .swiper-slide.slide-item-ab {
  width: 200px;
  height: 200px;
  font-size: 20px;
  letter-spacing: -0.02em;
}

.skilla-about-swiper .swiper-button-next-ab {
  width: 100%;
  height: 200px;
  z-index: 1;
}
}

.icon-reviews {
  width: 40px;
  height: 40px;
}


@media screen and (min-width: 1440px) {
  .container-about-me {
    margin-top: 96px;
  }

  .main-content {
    width: 100%;
    flex-direction: row;
  }

  .main-content-item {
    width: 680px;
  }

    .info-text-acc {
padding-left: 696px;
padding-right: 68px;    
}
.info-content-item::after {
  margin-top: 24px;
}
.skills-content-list.swiper-wrapper {
  width: calc(200px * 6);
}
}

