<<<<<<< HEAD
/*.main-content {
  position: absolute;
  display: inline-block;
  justify-content: center;
=======
.main-content-about-me {
  display: flex;
>>>>>>> 5f3d45b82fe649add5bca5de0d5b4e0f4b122731
  flex-direction: column;
  gap: 32px;
}

.main-content {
  display: flex;
  flex-direction: column;
  background: #1c1d20;
  gap: 16px;
<<<<<<< HEAD
}*/
.container-title {
=======
}
.main-content-item {
>>>>>>> 5f3d45b82fe649add5bca5de0d5b4e0f4b122731
  width: 343px;
  height: 500px;
  background: #242527;
  border-radius: 24px;
}
.container-title {
  width: 100%;
  height: 100%;
  padding-top: 32px;
  padding-right: 32px;
  padding-left: 32px;

  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: -0.72px;
}
.conteiner-title-text-accent {
  color: #0041e8;
}
.conteiner-title-text {
  color: rgba(250, 250, 250, 0.4);
}

.container-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}
@media screen and (min-width: 320px) and (max-width: 374px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    min-width: 320px;
  }
  .main-content-item {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container-about-me {
    margin-top: 64px;
  }
  .main-content-about-me {
    gap: 64px;
  }
  .main-content {
    width: 704px;
  }
  .main-content-item {
    width: 100%;
    height: 700px;
  }

  .container-title {
    padding-top: 64px;
    padding-right: 64px;
    padding-left: 64px;

    font-size: 38px;
    line-height: 40px; /* 105.263% */
    letter-spacing: -1.14px;
  }
}

@media screen and (min-width: 1440px) {
  .container-about-me {
    margin-top: 96px;
  }

  .main-content {
    width: 100%;
    flex-direction: row;
  }

  .main-content-item {
    width: 680px;
  }
}
