.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.modal {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.container {
    width: 375px;
    padding: 0 16px;
    margin: 0 auto;
    margin-top: 64px;
    background-color: #1c1d20;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    .container {
        min-width: 320px;
        max-width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding: 0 32px;
        margin-top: 96px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        width: 1440px;
        margin-top: 164px;
    }

    .container:nth-last-child() {
        margin-bottom: 164px;
    }
}