.section-benefits {
display: flex;
flex-direction: column;
flex-wrap: wrap;

}

.container-benefits {
    display: flex;
    flex-wrap: wrap;
    min-width: 320px;
}

.benefits-title {
    
    color: rgba(250, 250, 250, 0.40);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
        /* 150% */
    letter-spacing: -0.32px;
    text-transform: uppercase;
    min-width: 284px;
    margin-bottom: 32px;
}

.benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    
}

.benefits-list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 344px;
    padding: 24px;
    gap: 64px;
    padding: 24px;
    border-radius: 20px;
    background-color: #242527;
    will-change: transform, box-shadow;
    transition: transform 300ms ease, box-shadow 300ms ease;
}

.benefits-list-item:hover,
.benefits-list-item:focus {


    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.benefits-topic {
    align-self: stretch;
    color: #FAFAFA;
    font-family: "Inter Tight";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    /* 150% */
    letter-spacing: -0.4px;
    margin-bottom: 8px;
}

.benefits-text {
color: rgba(250, 250, 250, 0.60);

    /* Mobile/Main text */
    font-family: "Inter Tight";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.32px;
}

.benefits-icon {
    border-radius: 10px;
    background: #0041E8;
    width: 48px;
    height: 48px;
    padding: 12px;
    fill: #FAFAFA;
    

}

.benefits-btn {
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
    color: #FAFAFA;
    padding: 18px 36px;
    border-radius: 60px;
    border: 1px solid rgba(250, 250, 250, 0.20);
    background-color: transparent;
    min-width: 187px;
    min-height: 55px;
    margin-top: 32px;
}

.benefits-btn:hover,
.benefits-btn:focus {
    border-radius: 60px;
    border: 1px solid #FAFAFA;
}



@media screen and (min-width: 768px) {
    .benefits-title{
        margin-bottom: 0;
    }
    
    .benefits-btn {
        margin-top: 64px;
    }

}



@media screen and (min-width: 1440px) {
    .container:nth-last-child() {
        margin-bottom: 164px;
    }

    .container-benefits {
        flex-direction: row;
        justify-content: start;
        flex-wrap: nowrap;
        gap: 412px;

    }

    .wrapper-benefits {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: baseline;
    }

    .benefits-list-item {
        flex-wrap: wrap;
        flex-basis: calc(50% - 8px);
        max-width: 332px;
    }

}