.container-covers {
  height: 508px;
  background-image: url(../img/cover/elements-mob-blue-1x.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.covers-content {
  position: absolute;
  right: -800px;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.covers-list {
  display: flex;
  gap: 20px;
  transform: rotate(17deg);
}

.covers-animation {
  animation-name: marqueeLine;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.covers-img {
  background-color: blue;
  width: 282px;
  height: 162px;
}
/*
.covers-project {
  width: 282px;
  height: 162px;
}
  */
@keyframes marqueeLine {
  from {
    transform: translateX(-20%);
  }

  to {
    transform: translateX(-180%);
  }
}

@media (min-resolution: 192dpi) {
  .container-covers {
    background-image: url('../img/cover/elements-mob-blue-2x.png');
  }
}

@media screen and (min-width: 768px) {
  .container-covers {
    background-image: url('../img/cover/elements-tab-blue-1x.png');
    height: 960px;
  }

  .covers-content {
    right: -1400px;
    gap: 40px;
  }

  /*
   .covers-list {
    gap: 30px;
  }
  .covers-project {
    width: 544px;
    height: 314px;
  }
*/
  .covers-img {
    width: 544px;
    height: 314px;
    background-color: blue;
  }

  @media (min-resolution: 192dpi) {
    .container-covers {
      background-image: url('../img/cover/elements-tab-blue-2x.png');
    }
  }
}

@media screen and (min-width: 1440px) {
  .container-covers {
    background-image: url('../img/cover/elements-blue-des-1x.png');
  }

  @media (min-resolution: 192dpi) {
    .container-covers {
      background-image: url('../img/cover/elements-blue-des-2x.png');
    }
  }

  .covers-content {
    right: -800px;
  }
  .covers-list {
    gap: 20px;
  }
}
