/*
Верстка адаптивна, окрім мобільних пристроїв. Точки перелому:
   - mobile: верстка гумова від 320px, стає адаптивною з 375px;
   - tablet: з 768px;
   - desktop: з 1440px 


   @media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  .element {
    flex-basis: calc((100% - 10px) / 2);
    font-size: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    gap: 15px;
  }

  .element {
    flex-basis: calc((100% - 30px) / 3);
  }
}

*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

.section-covers {
  position: relative;
  background-color: #1c1d20;
  background-image: url(./images/covers/bg-covers.png);
  background-size: cover;
}

.container-covers {
  display: flex;
  justify-content: center;
  min-width: 320px;
  height: 508px;
  margin: 0 auto;

  position: absolute;
  right: -800px;
  left: 0;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .container-covers {
    width: 768px;
    height: 960px;
  }
}

@media screen and (min-width: 1440px) {
  .container-covers {
    width: 1440px;
    height: 960px;
  }
}

.covers-title {
  display: none;
}

.cover-list {
  height: 100vh;
  display: flex;
  transform: rotate(16deg);
}

.covers-project {
  flex-shrink: 0;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 10);
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes coversProject {
  from {
    transform: translateX(-20%);
  }

  to {
    transform: translateX(-180%);
  }
}

.covers-img {
  /* width: 544px;
  height: 314px;
  */
  background-color: red;
}
