
.container{
  margin-top: 0;
  position: relative;
}

.header-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 1000;
}
.header-menu{
  padding:  32px 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo-container {
  display: flex;
  gap: 8px;
}

.logo-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: var(--main-text);
}

.open-menu-btn{
  background-color: transparent;
}

.modal-mob-menu{
  position: absolute;
  background-color: aquamarine;
  width: 100%;
}

.header {
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 1000;
}

.header-container {
  display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.logo-container {
  display: flex;
  gap: 8px;
}

.logo-text {
  font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
letter-spacing: -0.02em;
color: var(--main-text);
}

.nav-header {
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}
 button {
  all: unset;
 }

 .icon-burger {
  fill: var(--main-text);
 }

 .modal {
  position: fixed;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  z-index: 1001;
  display: flex;
  justify-content: center;
align-items: center;
  background-image: url('../img/hero/hero-blue-mob-1x.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: -268px 0px;
}

.modal-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.modal-close-btn {
  position: absolute;
  top: 32px;
  right: 16px;
}

.modal-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.modal-list-item{
  color: #FAFAFA;
font-family: "Inter Tight";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.32px;
border-bottom: #FAFAFA;
}

.modal-list-item::after {
  content: '';
  height: 2px; 
  background-color: white;
}

.modal-order-button {
  padding: 14px 31px;
  border-radius: 60px;
background: #0041E8;
position: absolute;
bottom: 64px;
cursor: pointer;
}