header .container{
  margin-top: 0;
  position: relative;
}

.header-container {
  top: 0;
  left: 0;
      position: absolute;
      width: 100%;
      background: transparent;
      display: flex;
      justify-content: space-between;
      align-items: top;
      z-index: 1000;
      padding: 32px 16px 0;
}
.header-menu{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.logo-container {
  display: flex;
  gap: 8px;
  cursor: pointer;
}

.logo-img {
  width: 80px;
  height: 80px;
}

.logo-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: var(--main-text);
}

.open-menu-btn{
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: 28px;
}

.logo-container {
  display: flex;
  gap: 8px;
}

.logo-text {
  font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
letter-spacing: -0.02em;
color: var(--main-text);
}

.nav-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}


 .icon-burger {
  fill: var(--main-text);
 }

 .modal-menu {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  width: 100%;
  min-width: 320px;
  max-width: 375px;
  height: 100%;
  z-index: 1001;
  background-image: url('../img/hero/hero-blue-mob-1x.png');
    background-size: 375px auto; 
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal-close-btn{
  all: unset;
}

.modal-close-btn {
  position: fixed;
  top: 32px;
  right: 16px;
  z-index: 1002;
}

.modal-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.modal-list .modal-list-item{
  position: relative;
  color: #FAFAFA;
font-family: "Inter Tight";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.32px;
border-bottom: 1px solid ;
}

.modal-order-button {
  padding: 14px 31px;
  border-radius: 60px;
background: #0041E8;
position: absolute;
bottom: 64px;
cursor: pointer;
}

.modal-order-button:hover,
.modal-order-button:focus {
    background-color: #0039CF;
    ;
}

.header-order-btn {
  padding: 18px 24px;
  border-radius: 60px;
background: #0041E8;
cursor: pointer;
white-space: nowrap;
height: 55px;
}

.header-order-btn:hover,
.header-order-btn:focus {
    background-color: #0039CF;
    ;
}

.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.header-menu-button{
  all: unset;
}

.header-menu-button {
  margin-bottom: 10px;
border-bottom: 2px solid rgba(250, 250, 250, 0.60);
}

@media screen and (min-width: 768px) {
  .header-container{
    padding: 32px 32px 0;
  }

  .header-menu{
  width: auto;
}
}
