/* .section-hero{} */

.container-hero{
    min-width: 320px;
    padding-top: 281px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 218px;
    
}

.hero-text{
    font-size: 50px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.hero-list{
    display: flex;
    gap: 4px;   
}

.hero-list-item{
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
}

.hero-list-item:not(:last-child){
    width: 37px;
    height: 37px;
}

.hero-list-item:last-child{
    padding: 10px 12px;
}

.hero-list-link{
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 14px;
    letter-spacing: -0.02em;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.hero-list-item:hover,
.hero-list-item:focus {
    border: 1px solid #fafafa;
}


/* @media screen and (min-width: 320px) and (max-width: 374px) {} */

@media screen and (min-width: 768px) {
    .container-hero {
            padding-top: 300px;
            gap: 187px;
        }
    
    .hero-text {
        font-size: 90px;
        padding-right: 72px;
    }

    .hero-list{
        gap:8px;
        justify-content: right;
    }

    .hero-list-item:not(:last-child) {
        width: 55px;
        height: 55px;
    }
    
    .hero-list-item:last-child {
        padding: 18px 24px;
    }
    .hero-list-link{
    font-size: 16px;
}
}

@media screen and (min-width: 1440px) {
    .container-hero {
        gap: 243px;
    }

    .hero-text {
        padding-right: 178px;
        padding-left: 178px;
    }
}