.section-projects {
  background-color: #1c1d20;
}

.container {
}

.projects-container {
}

.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}

.project-title {
  color: rgba(250, 250, 250, 0.4);
  font-size: 16px;
  font-family: 'Inter Tight';
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 6px;
  margin: 0px 32px 96px 32px;
}

.projects-section-total-wrapper {
  background-color: #fafafa;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  padding-bottom: 32px;
  padding-top: 32px;
}

.project-item-wrapper {
}

.project-list:first-child {
}

.project-item {
  border-radius: 60px;
  border: 1px solid rgba(28, 29, 32, 0.2);
  padding: 13px 18px;
}

.project-item-text {
  color: #1c1d20;
  font-family: 'Inter Tight';
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.02em;
}
.projects-description-item {
}
.projects-description-text {
  margin: 0 32px 32px;

  /* text-align: center; */
  color: #1c1d20;
  font-family: 'Inter Tight';
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.03em;
}
.projects-button {
  display: block;
  margin-left: 32px;
  padding: 13px 32px;
  border-radius: 60px;
  background-color: #0041e8;
  width: 141px;
  height: 45px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.projects-button:hover,
.projects-button:focus {
  background-color: #0039cf;
}

.projects-image-nav-wrapper {
  background: #242527;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  padding: 100px 16px;
  margin-bottom: 32px;
}

.projects-image {
  display: block;
}

.projects-button-span {
  color: #fafafa;
  font-family: 'Inter Tight';
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.02em;
}

.projects-image {
  margin: 0 auto;
}
.swiper-button-next {
}

.projects-nav-buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding-bottom: 64px;
}

.custom-button-next,
.custom-button-prev {
  fill: white;
  background-color: transparent;
  padding: 14px;
  border-radius: 50%;
  border: 1.5px solid rgba(250, 250, 250, 0.5);
}

.projects-arrow-svg {
  display: block;
}
.custom-button-prev.swiper-button-disabled,
.custom-button-next.swiper-button-disabled {
  fill: white;
  background-color: transparent;
  padding: 14px;
  border-radius: 50%;
  border: 1.5px solid rgba(250, 250, 250, 0.2);
  opacity: 0.5 !important;
  pointer-events: none !important;
}

@media screen and (min-width: 768px) {
  /* .container {
    width: 768px;
    padding: 0 32px;
    margin-top: 96px;
  } */

  .projects-section-total-wrapper {
    padding-bottom: 64px;
    padding-top: 64px;
  }

  .project-list {
    flex-wrap: nowrap;
    margin: 0px 32px 164px 64px;
  }

  .project-item {
    padding: 18px;
  }

  .projects-description-text {
    color: #1c1d20;
    font-size: 44px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.03em;
    width: 494px;
    margin: 0 0 64px 64px;
  }

  .projects-button {
    margin-left: 64px;
    width: 177px;
    height: 55px;
  }
  .projects-button {
    text-align: center;
    padding: 18px 50px;
  }

  .projects-image-nav-wrapper {
    padding: 120px 45px;
    margin-bottom: 64px;
  }

  .custom-button-next,
  .custom-button-prev,
  .custom-button-prev.swiper-button-disabled,
  .custom-button-next.swiper-button-disabled {
    padding: 18px;
  }

  .projects-arrow-svg {
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 1440px) {
  /* .container {
    width: 1440px;
    margin-top: 164px;
  } */
  .projects-pc-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
  }

  .projects-section-total-wrapper {
    border-bottom-left-radius: 24px;
    border-top-left-radius: 24px;
    border-top-right-radius: 0px;
  }

  .projects-image-nav-wrapper {
    border-bottom-right-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 0px;
    padding: 120px 37px;
  }

  .projects-image-nav-wrapper {
    margin-bottom: 0px;
  }

  .projects-nav-buttons-wrapper {
    padding-bottom: 0px;
  }

  .project-list {
    margin: 0px 32px 223px 64px;
  }

  .projects-description-text {
    margin: 0 132px 32px 64px;
  }
}
