/* Reset styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  background-color: #fff;
}

button:hover,
button:focus,
button:active {
  outline: none;
  background-color: transparent;
  border-color: inherit;
  color: inherit;
  text-decoration: none;
}

input:hover,
input:focus,
input:active {
  outline: none;
  background-color: #fff;
  /* border: none; */
  color: inherit;
  text-decoration: none;
}

