/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import "modern-normalize";
@import url('swiper/css');
@import url('./reset.css');
@import url('./basic.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./benefits.css');
@import url('./projects.css');
@import url('./faq.css');
@import url('./cover.css');
@import url('./reviews.css');
@import url('./footer.css');

/* @import url('./'); */

:root {
  font-family: Inter Tight, sans-serif;
  font-weight: 500;
  font-size: 16px;

  color: #fafafa;
  background-color: #1c1d20;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --color1: #fafafa;
}
